---
title: "One District. One City."
excerpt: "Bold Ideas for Better Schools, Safe Streets, and Healthy Kids"

layout: page

permalink: /

header:
    overlay_image: /assets/images/o/bikebus-corking.jpg
    overlay_filter: rgba(0, 0, 0, 0.6)

gallery-intro:
  - url: "/assets/images/o/ice-cream-bike-bus.jpg"
    image_path: "/assets/images/t/ice-cream-bike-bus.jpg"
    alt: "Rob with an ice cream cone helmet talking to some kids"
    title: "My favorite rides to lead are Ice Cream Bike Buses. This one in June had almost 400 riders!"
  - url: "/assets/images/o/day-remembrence-1.jpg"
    image_path: "/assets/images/t/day-remembrence-1.jpg"
    alt: "group of politicians standing around with somber looks on their faces"
    title: "I attended a World Day of Rememberence rally in 2024 at City Hall. It was very moving, and I was proud to see so many recently City Council candidates show up."
  - url: "/assets/images/o/strongtowns-d3-chat.jpg"
    image_path: "/assets/images/t/strongtowns-d3-chat.jpg"
    alt: "people sitting around a table in discussion"
    title: "Groups like StrongTownsPDX are coming up with bold and pragmatic ways to solve Portland's problems."

gallery-meet-rob:
  - url: "/assets/images/o/parking-day-discussion.jpg"
    image_path: "/assets/images/t/parking-day-discussion.jpg"
    alt: "two people standing around talking, one sitting on a bike with a squirrel mask on"
    title: "This ride from StrongTownsPDX visited various parking garages in the central city and talked about what used to exist (housing and businesses)."
  - url: "/assets/images/o/chopping-wood.jpg"
    image_path: "/assets/images/t/chopping-wood.jpg"
    alt: "Rob chopping wood while holding a child"
    title: "I do everything with my kids. Even chop wood."
    class: "objection-position-quarter"
  - url: "/assets/images/o/bike-summer-bubbles-geoff.jpg"
    image_path: "/assets/images/t/bike-summer-bubbles-geoff.jpg"
    alt: "Rob riding a bike, pulling his son in the trailer with a bubble machine"
    title: "Pedalpalooza is one of our favorite things about Portland."
    class: "objection-position-top"

image-text-row-1:
    - header: "Healthy Kids"
      excerpt: Animals have brains so they can move. We must increase the physical activity our kids get, both inside and outside of school.
      btn-url: "/policy#health"
      btn-class: "itr"
      btn-label: "Get moving <i class='fa fa-arrow-right-long'></i>"
      image-url: "/assets/images/t/warlocks-2024.jpg"
      alt-text: "6th grade soccer team, with Coach Rob in the back"
      image-width: "450px"
      image-height: "300px"
      image-right: false

image-text-row-2:
    - header: "Safe Streets"
      excerpt: Our transportation system robs youth of independence, health, and wealth. We can build a healthy, social, sustainable network.
      btn-url: "/policy#transportation"
      btn-class: "itr"
      btn-label: "Let's go <i class='fa fa-arrow-right-long'></i>"
      image-url: "/assets/images/t/city-council-screen-aaron.jpg"
      alt-text: "Rob giving testimony to the Portland City Council"
      image-width: "450px"
      image-height: "300px"
      image-right: true

image-text-row-3:
    - header: "Abundant Housing"
      excerpt: "Broad upzoning will allow more housing in our most desirable neighborhoods, improving performance and enrollment."
      btn-url: "/policy#housing"
      btn-class: "itr"
      btn-label: "Build it <i class='fa fa-arrow-right-long'></i>"
      blank: false
      image-url: "/assets/images/t/strongtowns-parking-day-glisan.jpg"
      alt-text: "Rob discussing housing with some advocates"
      image-width: "450px"
      image-height: "300px"
      image-right: false

image-text-row-4:
    - header: "Urgent Climate Action"
      excerpt: "Climate disasters are bearing down, and schools need to support the larger changes our community is making."
      btn-url: "/policy#climate"
      btn-class: "itr"
      btn-label: "Stop wasting time <i class='fa fa-arrow-right-long'></i>"
      blank: false
      image-url: "/assets/images/t/bikebus-tribune-sunrise.jpg"
      alt-text: "Families riding on the Bike Bus together with the sun behind them"
      image-width: "450px"
      image-height: "300px"
      image-right: true
---

<section class="site-section alternative-color first-section" id="section-1">
    <h1>Elect Rob G for great schools, safe streets, and healthy communities.</h1>
    <p>
        My name is Rob Galanakis. I&rsquo;m running for Portland Public Schools Board to make sure
        our kids get the best education we can provide so that they can be successful in life.
    </p>
    <p>Their success is our success.</p>
    <p>
        Making sure our City is safe, healthy, and full of opportunity is critical to that success as well.
        I will work with our partners
        &mdash; the City, County, and State along with business and community leaders &mdash;
        to create a place where our kids can thrive.
    </p>
    <p><strong>On May 20th, vote for Rob &ldquo;G&rdquo; Galanakis, for your kids, schools, and city.</strong></p>

    {% include gallery id="gallery-intro" %}
</section>

<hr class="section-sep">

<section class="site-section bg-shape-w bg-shape-yellow-star" id="section-2">
    <h1>&lsquo;One City&rsquo; Policies</h1>
    <p>
        My platform is called <strong>One City</strong>.
        To get out of the deep crises we are in,
        we must act with <strong>extreme urgency and creativity</strong>
        across our school, city, and county governments.
    </p>
    <p>
        <strong>A vote for Rob G is a vote for:</strong>
    </p>

    {% include image-text-row.html id="image-text-row-1" %}
    {% include image-text-row.html id="image-text-row-2" %}
    {% include image-text-row.html id="image-text-row-3" %}
    {% include image-text-row.html id="image-text-row-4" %}
</section>

<hr class="section-sep">

<section class="site-section alternative-color bg-shape-ne bg-shape-yellow-circle-quarter-ne" id="section-3">
    <h1>Meet Rob</h1>
    <p>
        You may have already seen me, biking around the city on my bright orange e-cargo bike, usually with my two kids.
        Or on a <a href="/bike-bus">Bike Bus</a> in my bright yellow jacket,
        or <a href="https://www.bike-summer.org/" target="_blank">Pedalpalooza</a> ride.
        Or I've helped you cross a busy street, corked for your march, or shopped at your store.
    </p>
    <p>If you see me, please say "Hi Rob G!"</p>
    <p><a href="/meet-rob" class="btn btn--itr">Meet Rob&nbsp;&nbsp;{% include right-arrow.html %}</a></p>

    {% include gallery id="gallery-meet-rob" %}
</section>

<hr class="section-sep">

<section class="site-section bg-shape-se bg-shape-yellow-light-triangle-se" id="section-4">
    <h1>Endorsements</h1>
    {% include /editables/endorsements.html %}
    {% include footer/buffer.html %}
</section>

