//@font-face {
//  font-display: swap;
//  font-family: 'Alegreya';
//  font-style: normal;
//  font-weight: 400;
//  src: url('/assets/fonts/Alegreya/static/Alegreya-Regular.ttf');
//}

@font-face {
  font-display: swap;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Lexend/Lexend-VariableFont_wght.ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf');
}

.lead {
  font-family: $header-font-family;
  font-weight: bold;
  font-size: $h-size-3;
}

.text-center {
  text-align: center;
}

.endorsement-callout {
  color: $blue-dark;
  font-size: $h-size-3 !important;
  text-wrap: balance !important;
  line-height: 1.6em !important;
  border-left: 0.3em solid $blue-dark;
  padding-left: $spacing-3;

  i {
    font-size: $h-size-2;
    margin-right: $spacing-1;
    vertical-align: text-bottom;
  }

  .signature {
    font-style: italic;
    text-align: center;
  }
}