@font-face {
  font-display: swap;
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Alegreya/static/Alegreya-Regular.ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/Alegreya/static/Alegreya-SemiBold.ttf');
}

.lead {
  font-family: $header-font-family;
  font-weight: bold;
  font-size: $h-size-3;
}

.text-center {
  text-align: center;
}