.policy-toc {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
}

.policy-nav {
  display: flex;
  flex-direction: row;
  font-size: $h-size-2;
  background-color: rgba(255, 255, 255, 0.5);
  padding: $spacing-4;
  border-radius: $border-radius * 2;

  .policy-nav-icon {
    width: 40px;
    min-width: 40px;
    margin-right: $spacing-3;
    display: flex;
    align-items: center;

    img {
      width: 40px;
    }
  }

  &:hover {
    box-shadow: 0 0 10px rgba($blue-dark, 0.25);
  }
}

.policy-heading {
  display: flex;
  align-items: center;
  gap: 0.75em;

  img {
    height: $h-size-1;
  }
}

.policy-proposal {
  @include notice($yellow-light);
}
.alternative-color {
  .policy-proposal {
    @include notice($background-color);
  }
}