<div class="donation-links">
    <div class="donation-link-row">
        <a class="donation-link btn btn--{{include.size}} btn--{{include.variant}}" href="https://secure.actblue.com/donate/robgforpps">$5</a>
        <a class="donation-link btn btn--{{include.size}} btn--{{include.variant}}" href="https://secure.actblue.com/donate/robgforpps">$10</a>
        <a class="donation-link btn btn--{{include.size}} btn--{{include.variant}}" href="https://secure.actblue.com/donate/robgforpps">$20</a>
    </div>
    <div class="donation-link-row">
        <a class="donation-link btn btn--{{include.size}} btn--{{include.variant}}" href="https://secure.actblue.com/donate/robgforpps">$50</a>
        <a class="donation-link btn btn--{{include.size}} btn--{{include.variant}}" href="https://secure.actblue.com/donate/robgforpps">$100</a>
        <a class="donation-link btn btn--{{include.size}} btn--{{include.variant}}" href="https://secure.actblue.com/donate/robgforpps">$250</a>
    </div>
</div>