<div class="page__footer-follow">
  {% include newsletter.html %}

  <div class="page__footer-donate mt-4">
    <div class="mb-4">Throw in a few dollars to help make Portland the best damn school district in the nation.</div>
    {% include donate-links.html variant="secondary" %}
  </div>

  <img src="/assets/images/logo/svg/logo-rgb-horiz-blue-bg.svg" alt="" class="footer-logo mt-4 mb-4" >

  <div>Connect with Rob: {% include email.html %}</div>
  <div class="small"><a href="/media">Media Contacts</a></div>
  <ul class="socials">
    <li></li>
    {% for link in site.footer.links %}
    {% if link.url %}
    <li class="socials__item">
      <a href="{{link.url}}" rel="noopener noreferrer nofollow" target="_blank" class="socials__item__link" title="{{link.label}}">
        <i class="{{link.icon}} footer-icon" aria-hidden="true"></i>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} Rob Galanakis for PPS, site built by Rob G</div>
