<div class="page__footer-follow">
  {% include newsletter.html %}

  {% include icon-divider.html class="color-primary mt-4 mb-4" %}

  <div class="page__footer-donate">
    <div class="mb-4">Throw in a few dollars to help make Portland the best damn school district in the nation.</div>
    {% include donate-links.html variant="secondary" %}
  </div>

  {% include icon-divider.html class="color-primary mt-4 mb-4" %}

  <div>Connect with Rob: {% include email.html %}</div>
  <ul class="socials">
    <li></li>
    {% for link in site.footer.links %}
    {% if link.url %}
    <li class="socials__item">
      <a href="{{link.url}}" rel="noopener noreferrer nofollow" target="_blank" class="socials__item__link" title="{{link.label}}">
        <i class="{{link.icon}} footer-icon" aria-hidden="true"></i>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.footer.copyright | default: site.title }}</div>
