<p>
    Have I earned your vote? <a href="https://docs.google.com/forms/d/e/1FAIpQLSfImNCNLS2rpueNEsSXdemyCdngafv7iF7UsTwZLhDl7iMKuw/viewform?usp=sharing">Submit your endorsement</a> and we'll list it on this page.
    Please email {% include email.html %} with any questions.
</p>

<div class="box-container">
    {% for e in site.data.endorsements.photo %}
    <div class="box-third text-center">
        <div class="round-image">
            <img src="/assets/images/t/endorsements/{{e.slug}}.jpg">
        </div>
        <h3 class="mt-2 mb-2">{{ e.name }}</h3>
        <div class="text-wrap-balance">{{ e.title }}</div>
    </div>
    {% endfor %}
</div>
<div class="box-container mt-5">
    {% for e in site.data.endorsements.text %}
    <div class="box-fourth text-center">
        <h3 class="mt-3">{{ e.name }}</h3>
        <div class="text-wrap-balance">{{ e.title }}</div>
    </div>
    {% endfor %}
</div>
